@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #ecf0f3;
  font-family: poppins;
  overflow: auto;
}

.container{
  height: 100%;
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  padding: 40px;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  margin-bottom: 15px;
}

.brand-title{
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1da1f2;
  letter-spacing: 1px;
}
.div-title{
  margin-bottom: 10px;
}

.article1{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inputs{
  margin-top: 9px;
}

input{
  caret-color: red;
}
input{
  margin-bottom: 10px;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
}

input{
  background: #ecf0f3;
  padding: 1px;
  padding-left: 10px;
  height: 35px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input::placeholder{
  color: gray;
}

.article2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container2{
  width: 100%;
}
button{
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
}

button{
  color: white;
  margin-top: 20px;
  background-color: #1da1f2;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;;
  transition: 0.5s;
}
button:hover{
  box-shadow: none;
}
